<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.86, minimum-scale=0.86, maximum-scale=3">
        <meta name="author" content="Dom Williams">
        <title> {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <nav>
            <a href="{% link index.md %}">Home</a>
            <a href="{% link about.md %}">About</a>
            <a href="https://www.dropbox.com/s/rcx0466fbanrpgk/cv_phd_march19_max_williams.pdf?dl=1" target="_blank">CV</a>
            <a href="https://github.com/MaxWilliams94" title="GitHub">Github</a>
            <a href="mailto:contact@maxwillia.ms" title="Contact Me">Contact Me</a>
            <hr>
        </nav>
        <section>
            {{ content }}
        </section>

       <footer>
       </footer>
   </body>
</html>
