<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.86, minimum-scale=0.86, maximum-scale=3">
        <meta name="author" content="Max Williams">
        <title> {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" type="image/png" href="{{ '/assets/icon_192.png' | relative_url }}">
    </head>
    <body>
        <nav>
            <a href="{% link index.md %}">Home</a>
<!--            <a href="{% link index.md %}">About</a>-->
            <a href="https://www.dropbox.com/s/rwt5c5v7k45u6ks/phd%20cv%20march21.pdf?dl=1" target="_blank">CV</a>
            <a href="https://github.com/MaxWilliams94" title="GitHub">Github</a>
            <a href="https://www.linkedin.com/in/max-williams-56b4888b" title="Linkedin">Linkedin</a>
            <a href="mailto:contact@maxwillia.ms" title="Contact Me">Contact Me</a>
            <hr>
        </nav>
        <section>
            {{ content }}
        </section>

       <footer>
       </footer>
   </body>
</html>
